.editCover {
  width: 157px;
  height: 48px;
  z-index: 0;
  /* position: absolute;
  top: 237px;
  left: 1000px; */
  border: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  margin-top: -75px;
  margin-left: 1000px;
}

.profilecoverImg {
  width: fit-content;
  height: 299px;
  background-size: cover;
  /* object-fit: contain; */
}

.filetype {
  display: none;
}

.photoUrl {
  width: 145px;
  height: 145px;
  position: absolute;
  top: 208px;
  left: 50px;
  border-radius: 72.5px;
}

.addProfileImage-button {
  border: none;
  background: none;
}

.addProfileImage {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 322px;
  left: 154px;
}

.information-Person {
  width: 661px;
  height: 253px;
  position: absolute;
  top: 380px;
  left: 50px;
}

.information-Person>h6 {
  width: 623px;
  /* height: 93px; */
}

.person-name {
  /* background: rgba(16, 23, 31, 1); */
  width: 226px;
  /* height: 30px; */
  font-family: Open Sans;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.tabs-Profile {
  display: flex;
  /* justify-content: center; */
  width: auto;
  height: auto;
  /* top: 671px; */
  margin-left: 50px;
  border-radius: 22px;
  border: 1px;
  border: 1px solid #C4C4C4;

}

/* .tab-desc {
  margin-left: 262px;
} */

:where(.css-dev-only-do-not-override-fpg3f5).ant-tabs>.ant-tabs-nav .ant-tabs-nav-list,
:where(.css-dev-only-do-not-override-fpg3f5).ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-list {
  transform: translate(0px, 0px);
  display: flex;
  place-content: flex-start space-evenly;
  gap: 100px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between !important;
}

.postImageUrl {
  width: 224px;
  height: 256px;
  border-radius: 14px
}

/* :where(.css-dev-only-do-not-override-fpg3f5).ant-tabs .ant-tabs-tab {
  margin-left: 262px;
} */

:where(.css-dev-only-do-not-override-fpg3f5).ant-tabs {
  width: 100%;
}

.person-bio {
  width: 623px;
  /* height: 93px; */
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  gap: 10px;
}

.main-div-Photos {

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  font-size: 100%;
  font-family: "Big Shoulders Stencil Display";
  font-weight: 500;
  position: relative;
  margin: auto;
  padding: 0;

}

.edit-button {
  width: 141px;
  height: 48px;

  border-radius: 8px;
}

.show-like-length {
  position: relative;
  /* border: 3px solid white; */
  padding: 5px;
  /* border-radius: 50%;   */
  top: 91px;
  bottom: 0;
  right: 68px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.length-post {
  color: red;
}


.person-bio-information,
.information {
  display: flex;
  margin: 45px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.editcover {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.edit {
  border: none;
  width: 141px;
  height: 48px;
  border-radius: 8px;
  background: rgba(46, 125, 50, 1);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.information>h6 {
  font-size: 14px;
}

.profile-page {
  display: flex;
  flex-direction: column;
  width: auto;
}

.profilecoverImg {
  width: auto;
}

.information {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

@media screen and (max-width: 771px) {
  .person-bio {
    width: auto;
  }

  /* :where(.css-dev-only-do-not-override-fpg3f5).ant-tabs>.ant-tabs-nav .ant-tabs-nav-list,
  :where(.css-dev-only-do-not-override-fpg3f5).ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-list {
    gap: 0;
  } */

  :where(.css-dev-only-do-not-override-fpg3f5).ant-tabs .ant-tabs-tab {
    margin-left: 0 !important;
  }
}